{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": ["react-app", "plugin:jest/recommended"],
  "rules": {
    "curly": "warn",
    "no-console": "error",
    "no-debugger": "error",
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "strict": ["error", "global"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "plugins": ["import", "jest", "jsx-a11y", "react", "react-hooks", "prettier"]
}
